<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ with partial "theme.html" . }}theme-{{ . }}{{ end }}{{ if eq .Section "challenges" }}challenges{{ end }}">
  <header class="site-header">
    <a class="site-title" href="{{ "/" | relURL }}">{{ if .IsHome }}{{ site.Params.homeTitle | default site.Title }}{{ else }}{{ site.Title }}{{ end }}</a>
  </header>
  <main class="wrap">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="site-footer">
    <p>{{ site.Title }}</p>
  </footer>
</body>
</html>
